@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    min-height: 100vh;

}

.wrapper {
    padding: 20px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    box-shadow: 0px 6px 10px 0px rgba(135,133,135,0.52);

}


.todo {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


h1 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}


.todoInput {
    padding: 5px;
    margin-right: 10px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.todoInput:is(:hover, :focus, :active) {
    border-color: black;
    outline: 1px none;
    border-radius: 3px;
}



.Button {
    padding: 5px 20px;
    font-size: 19px;
}

.todoItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
}

.todo {
    display: flex;
    align-items: center;
    gap:.5rem
}


.bottomBtn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.activeButton {
    background-color: black;
    color: white;
    transition: .2s;
}






